body {
  font-family: "Open Sans",Tahoma,Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #3b3b3b;
  margin:0;
  background:url(../images/bg.jpg) repeat-x;
}


/*header & Navigation*/
header{
  display:block;
}
.header{
  height:70px
}
.header .viewport-wrapper{
  background:#000000;
  height:70px;
}
.logo{
  width:200px;
  height:70px;
  float:left;
  margin:0;
  /*background:#000000;*/
}
.header-logo{
  background-image:url(../images/logo.png);
  /*background-image:-webkit-image-set(url(/static/dist/images/logo_1x.png) 1x,url(/static/dist/images/logo_2x.png) 2x);*/
  background-position:center center;
  background-repeat:no-repeat;
  background-size:contain;
  height:70px;
  width:200px;
  float:left;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
}
.header-logo:hover{
  background-image:url(../images/logo_hover2.png);
}
.menu{
  margin-right: 60px;
}
.header-nav{
  margin:0;
  padding:0;
  float:right;
  text-transform:uppercase;
}
.header-nav .nav-item{
  display:inline-block;
  position:relative;
  top:0;
  left:0;
}
.header-nav .nav-item a{
  display:block;
  color:#fff;
  padding:24px 20px 27px;
  text-align:center;
  vertical-align:middle;
  font-size:16px;
  cursor:pointer;
  outline:0;
  text-decoration: none;
}
.header-nav .nav-item:hover{
  /*color:#57b382;*/
  background:#57b382;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
}
.header-nav .nav-item:hover .items{
  display:block;
}
.header-nav .nav-item.selected{
  border-top:3px solid #57b382
}
.header-nav .items{
  display:none;
  position:absolute;
  left:-40px;
  top:67px;
  background:#57b382;
  padding:0;
  margin:0;
  width:150px;
  z-index:3
}
.header-nav .items::before{
  content:'';
  border-width:6px;
  border-style:solid;
  border-color:transparent transparent #57b382;
  position:absolute;
  left:69px;
  top:-12px
}
.header-nav .items li{
  list-style-type:none;
  padding:0;
  margin:0
}
.header-nav .items li a{
  color:#fff;
  display:block;
  padding:4px 19px;
  text-align:left;
  line-height:32px;
  font-size:14px;
  /*text-decoration:none;*/
}
.header-nav .items li a:hover{
  background:#4ba575
}

/*Image Slides*/
div#wn  { 
  position:relative;
  width: 1272px; 
  height:450px;
  overflow:hidden;
  /*border:1px solid #ddd;*/
}
#canvas{
  margin:0 auto;
  height:400px;
  width:1000px;
}

div#wn table {
  border-spacing:0;
    border-collapse:collapse;
}
  
div#wn td {
  padding:0px 186px;
  /*text-align: center;*/
}
.imgSlides{
  position: relative;
  zoom: 1;
  /*padding-top: 94px;*/
  z-index: 1;
  height: 420px;
}
.imgSlides .previousImg,.imgSlides .nextImg{
  width: 49px;
  height: 104px;
  position: absolute;
  top: 160px;
  left: 50%;
  overflow: hidden;
  opacity: .5;
  /*filter: alpha(opacity=50);*/
  z-index: 6;
}
.imgSlides .previousImg{
  margin-left:-460px;
}
.imgSlides .nextImg{
  margin-left:412px;
}
.imgSlides .previousImg i,.imgSlides .nextImg i{
  width: 49px;
  height: 104px;
  display: block;
}
.imgSlides .previousImg i{
  background: url("../images/material.png") 0 -290px;
}
.imgSlides .nextImg i{
  background: url("../images/material.png") -50px -290px;
}
.banner_circls {
position: absolute;
z-index: 102;
top: 415px;
left: 800px;
}
ul {
padding: 0;
margin: 0;
list-style: none;
}
.banner_circls li {
background: url(../images/circls.png);
width: 10px;
height: 9px;
float: left;
margin-left: 5px;
cursor: pointer;
}
.banner_circls .s0 {
background: url(../images/circle_s.png);
}

/*content*/
.content{
  position:relative;
  width:900px;
  height:460px;
  margin:0 auto;
  background:#FFFFFF;
  border:5px solid #eaeaea;
  box-shadow:1px 1px 5px rgba(0,0,0,0.7);

}
.contentContainer{
  background:#E8E5E5;
  width:900px;
  height:460px;
}
/*info and news*/
.primaryContent{
  float:left;
  width:630px;
  height:450px;
  position:relative;
  background:#FFFFFF;
  /*margin-top: 10px;*/
}
.primaryContent .contentHeader{
  margin-bottom: 15px;
}
.contentHeader h2{
  background:url(../images/title_line.png);
  font-size: 18px;
  top:4px;
  line-height: 25px;
  color: #656551;
  padding-left: 15px;
  padding-top: 15px;
  text-transform:uppercase;
  margin:30px;
}
.info{
  margin-left: 30px;
}
.info .infoBlock{
  width:267px;
  height:110px;
  background:#E8E5E5;
  margin: 0 30px 30px 0;
  display:inline-block;
}
.infoBlock .infoImg{
  background:#077931;
  margin:0;
  width:110px;
  height:110px;
  float:left;
}
.infoText{
  margin:10px 3px 10px 115px;
}
.companyInfo{
  float:right;
  width:250px;
  height:450px;
  background:#FFFFFF;
  /*padding:50px 10px 10px 10px;*/
}
.companyInfo .compImg{
  width:230px;
  height:145px;
  background:url(../images/comp.png);
  margin:50px 10px 10px 10px;
}

/*footer*/
.footer {
  /*position: center;*/
  /*clear: both;*/
  height: 66px;
  text-align: center;
  line-height: 66px;
  background: #E8E5E5;
  color: #A8A88D;
}

/*product page*/
.product{
  width:900px;
  height:550px;
  margin:10px auto;
  background:#FFFFFF;
}
.productList{
  float:left;
  width:200px;
  padding:5px;
  margin:20px;
  height:auto;
  border: 1px solid #d0dae1;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  min-height: 400px;
}
.productList h2,.product_content h2{
  border-bottom: 2px solid #4d89cc;
  /*padding-bottom: 8px;*/
  text-align: center;
  padding:8px;
}
.productList a{
  text-decoration: none;
}
.productList ul li{
  text-align: left;
  border-bottom: 1px solid #D7D7D7; 
  line-height: 29px;
  padding-left: 5px;
  padding-right: 5px;
}
.product_wrapper{
  float:right;
  width:600px;
  height:500px;
  margin:20px;
   border: 1px solid #d0dae1;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  min-height: 300px;
}
.product_main,.product_content{
  margin:0;
  height:480px;
  overflow:hidden;
}

.product_content div{
  padding:0 10px 30px 10px;
  height:480px;
  overflow:auto;
}


